<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="web\style.css">
<link rel="stylesheet" href="web\myStyles.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="web/main.js"></script>
<link rel="stylesheet" href="web\startbootstrap_creative\css\bootstrap.min.css">
<!--<link rel="stylesheet" href="web\startbootstrap_creative\css\creative.min.css">-->
<link rel="stylesheet" href="web\startbootstrap_creative\css\myStyle.css">

<link rel="stylesheet" href="web\font_awesome\css\font-awesome.min.css">
        
    </head>
    <body bgcolor="silver" onload="getMucRooms()">
        <div class="container ">
		
<center><h1>GROUP CHAT ADMIN DASHBOARD</h1></center>
	

<button onclick="addAction()" type="button" class="fa fa-files-o btn btn-lg btn-primary">Add tasks</button><br><br>

<div id="taskList">
	<div class="table-responsive">        
        <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   <tr><th>Group Name</th>
                   </tr></thead>
		    <tbody>
		    
		    
		    
		    
		   
		    
		   
		    
		    </tbody>
        
	</table>
	</div>

</div>
        
	</div>
        
    </body>
</html>
